/* LOCATIONS PAGE CSS */

    /*LOCATIONS HEADER*/

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
      padding: 20px 40px 20px 40px;
      display: flex;
      justify-content: center;
    }
    
    nav {
      display: flex;
      width: 90%;
      justify-content: space-between;
    }
  
    #navbarNav {
      justify-content: flex-end;
      text-align: right;
    }

    .nav-link {
      font-family: 'DM Sans';
      color: #F8415B;
      font-weight: 600;
      font-size: 19px;
    }
    
    .nav-link:hover {
      color: #990a8d;
    }

    .container-fluid {
      width: 100%;
    }
    
    .navbar-brand {
      font-size: 30px;
    }
    
    .btn-bd-primary {
      border: rgb(0, 0, 0) solid 1px;
    }
    
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    .navbar-toggler {
      --bs-navbar-toggler-focus-width: 0.00rem;
    }
    
   
      /*LOCATIONS - SEARCH BAR IMAGE AND TEXT*/
  
  .locations-dessert {
    position: relative;
    display: flex;
  }
  
  .locations-dessert > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 85%;
  }
  
  .find {
    position: absolute;
    top: 25%;
    right: 38%;
    font-size: 35px;
    width: 23%;
    text-align: center;
    font-weight: 700;
  }
  
    
      /* LOCATIONS - SEARCH BAR */
  
  .search-container {
    position: relative;
  }
  
  .main-search-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 50px;
    margin-top: 200px;
    box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3);
  }
  
  .fl-wrap {
    float: left;
    width: 100%;
    position: relative;
  }
  
  .main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255,255,255,0.41);
    left: 50%;
    margin-left: -25px;
  }
  
  .main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative;
  }
  
  .main-search-input-item input:first-child {
    border-radius: 100%;
  }
  
  .main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
  }
  
  .main-search-button{
    background: #F8415B;
  }
  
  .main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
  }
  
  .main-search-input-wrap {
    max-width: 600px;
    margin: 20px auto;
    position: absolute;
    top: 5%;
    right: 41%;
  }
  
  :focus {
    outline: 0;
  }
  
  
  @media only screen and (max-width: 768px){
  
  .find {
    position: absolute;
    top: 17%;
    right: 20%;
    width: 60%;
  }
  
  .main-search-input-wrap {
    top: 10%;
    right: 20%;
    justify-content: center;
  }
  
  .main-search-input {
    background: rgba(255,255,255,0.2);
    padding: 14px 20px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
  }
  
  .main-search-input-item {
    width: 100%;
    border: 1px solid #eee;
    height: 50px;
    border: none;
    margin-bottom: 10px;
  }
  
  .main-search-input-item input {
    border-radius: 10px !important;
    background: #fff;
  }
  
  .main-search-button {
    position: relative;
    float: left;
    width: 100%;
    border-radius: 50px;
  }
  }
  
      /* LOCATIONS CARDS*/
  
  .country {
    padding: 50px 90px 20px 90px;
    justify-content: center;
  }
  
  
  .title-country {
    padding-left: 215px;
    padding-bottom: 15px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    height: 230px;
    padding: 40px;
  }
  
  .btn-primary {
    --bs-btn-bg: #F8415B;
    --bs-btn-border-color: #F8415B;
    --bs-btn-hover-bg: #f8415cb2;
    --bs-btn-hover-border-color: #F8415B;
    margin-top: 40px;
  
  }
  
  @media only screen and (max-width: 768px) {
    .title-country {
      padding-left: 0px;
    }
  }
  
  
      /*LOCATIONS FOOTER*/
  
  footer {
    background-color: black;
    height: 100px;
  }
  
  .footer-nav {
    padding-top: 30px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: white;
    gap: 35px;
  }