* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  user-select: none;
}

nav {
  font-size: 1em;
  font-weight: bold;
}

nav .navbar-brand {
  width: 50px;
  padding-right: 10px;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-toggler {
    display: flex;
    justify-content: flex-end;
  }
}

nav a {
  text-decoration: none;
  color: #000;
  transition: all 0.8s ease-in-out;
}

.navbar-nav {
  padding-left: 100px;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

li {
  list-style: none;
  display: inline;
  padding: 0 10px;
  font-size: 100%;
}
.main-image {
  margin-top: 1em;
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
}

.top-title {
  position: absolute;
  top: 35%;
  left: 3%;
  font-size: 4vw;
  font-weight: 400;
  font-family: "Titan One", cursive;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .top-title {
    position: absolute;
    top: 25%;
  }
}

.main-image-with-text {
  width: 100%;
  max-height: 500px;
}

#order-button {
  position: absolute;
  top: 60%;
  left: 5%;
}

.container {
  text-align: center;
  margin: 80px auto 10px;
  font-style: italic;
}

.whole-carousel {
  width: 60vw;
  max-height: 50%;
  display: block;
  margin: 20px auto;
}

.whole-carousel img {
  max-height: 400px;
  width: 7vw;
  object-fit: cover;
}
.caption-text {
  padding: 10px;
  background: transparent;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  font-size: 1.3vw;
}

.caption-text h5 {
  font-weight: bold;
}

.caption-text p {
  font-style: italic;
  text-align: center;
}

.deal-text {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .card-wrapper {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
  }
}

.card-wrapper-two {
  display: flex;
  justify-content: space-evenly;
}

.col-lg {
  margin-bottom: 20px;
}

footer {
  background-color: #000;
  padding: 2%;
  color: #fff;
}

p {
  text-align: justify;
  text-justify: inter-word;
}
