
/*homepage welcome banner styling*/
.flex-container-homepage-header1{
    display:flex;
    flex-direction: row;
    flex-direction: column;
    text-align: left;
    align-items: left;
    background-image: url('homepage_banner1.jpg');
    background-attachment:inherit;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: relative;
    height: 2000px;
}
.welcome-title{
    padding-top: 500px;
    padding-left: 220px;
    padding-right: 220px;
    font-size: 200px;
    color: #C42847;
    font-family: 'Titan One', cursive;
}

/*three containers aligned to navigation*/

.section1_wrapper{
    background-image: url(section1_background_img.jpg);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    height: 1800px;
    margin-bottom: 250px;
}
.row.row-cols-1.row-cols-xxl-3.gy-4.text-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5%;
    margin-top: 200px;
    margin-bottom: 200px;
}

.col.themed-grid-col-3{
    background-color: #FBD87F;
    margin-top: 375px;
    height: 1200px;
    width: 800px;
    border-radius: 25px;
}

.col_text{
    font-size: 40px;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.bi.bi-arrow-right-circle-fill{
    padding-top: 50px;
    height: 200px;
    width: 200px;
    color: white;
}

.col-xl-4.themed-grid-col-6{
    background-image: url(homepage_grid_image3.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 1250px;
    flex: auto;
}
.grid_text_default1{
    display: flex;
    flex-direction: column;
    flex-direction: row;    
    justify-content: center;
    padding-top: 500px;
    font-size: 100px;
    flex: auto;
    color: #7FD1B9;
    font-family: 'Titan One', cursive;

}
.grid_text_default2{
    display: flex;
    flex-direction: column;
    flex-direction: row;    
    justify-content: center;
    padding-top: 500px;
    font-size: 100px;
    flex: auto;
    color: #FFABCF;
    font-family: 'Titan One', cursive;
}
.grid_text_default3{
    display: flex;
    flex-direction: column;
    flex-direction: row;    
    justify-content: center;
    padding-top: 500px;
    font-size: 100px;
    flex: auto;
    color: #FBD87F;
    font-family: 'Titan One', cursive;
}

/* Footer styling*/

.social-media-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.bi.bi-instagram{
    height: 50px;
    width: 50px;
    color: black;
    margin: 20px;
}


